
.container {
    width: 900px;
    height: 700px;
    margin: 0px auto;
    outline: solid 1px red;
}

.header {
    width: 100%;
    height: 150px;
    outline: solid 1px black;
}

.userPhoto {
    width: 150px;
    height: 150px ;
    outline: solid 1px lightblue;
    float: left;
}

.userName {
    width:  750px;
    height: 100px;
    outline: solid 1px lightcoral;
    float: left;
}

.bigSelect {
    width: 100%;
    float: left;
    height: 50px;
    outline: solid 1px darkblue;
}

.optionWidth{
    width: 150px;
}

.optionMidWidth {
    width: 250px;
}

.showContent{
    width: 900px;
    height: 400px;
    float: left;
    outline: solid 1px green;
}

.tableStyle {
    width: 100%;
    border-collapse: collapse;
}

.tableStyle th,td {
    text-align: left;
    border: solid 1px blue;
}

